<div class="container pt-3">
  <div class=" col-lg-6">
    <h3>Who are we?</h3>
    <p>Customer relationship management (CRM) is a technology for managing all your company's relationships and interactions with customers and potential customers. The goal is simple: Improve business relationships. 
        A CRM system helps companies stay connected to customers, streamline processes, and improve profitability.</p>
  </div>
  <div class=" col-lg-6">
    <h3>Why choose us?</h3>
    <p>We provide with predominant way to control and manage your customers with ease of accessing for multiple
      users.</p>
  </div>
</div>
<div class="container abt-style">
  <div class=" col-lg-6">
    <h3>Contact Us</h3>
    <p><strong>Email: </strong>crmtrainings@gmail.com</p>
    <p><strong>Mobile: </strong>+91-8448444853</p>
  </div>
</div>