<div class="wrapper" style="background-image: url('static/img/bg-registration-form-2.jpg');">
  <div class="inner">
    <form action="{{action}}" method="{{method}}">
      <h3>Login Form</h3>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="email">UserName</label>
          <input type="text" id="email" class="form-control" name="username">
        </div>
        <div class="form-wrapper">
          <label for="password">PassWord</label>
          <input type="password" id="password" class="form-control" name="password">
        </div>
      </div>
      <button>Login</button>
    </form>
  </div>
</div>