#content {
  min-height: 600px;
  margin-top: 0;
}

#banner_image {
  padding-bottom: 50px;
  padding-top: 10px;
  margin-top: 0;
  text-align: center;
  color: #f8f8f8;
  background: url("../img/intro-bg_1.jpg") no-repeat center center;
  background-size: cover;
}

#banner_content {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 12%;
  margin-bottom: 12%;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 660px;
}
